<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Welcome Center {{data.center_details.email}}
<img src="{{data.center_details.img}}" style="height: 100px; width: 100px; border-radius: 50px;">
<a href="/logout">Logout</a>
<div id="weather-api">{{data.weather}}</div>
<div id="user-details">
    <div id="user-details-form">
        <form action="" method="post" enctype="multipart/form-data">
            <h1>Please update your user details:</h1>
            <h2>Personal Details</h2>
            <label>Name:
                <input type="text" name="name" placeholder="Name" value="{{data.center_details.name}}">
            </label>
            <label>Address:
                <input type="text" name="address" placeholder="Address" value="{{data.center_details.address}}">
            </label>

            <label>Contact:
                <input type="tel" name="contact" placeholder="Contact"
                       value="{{data.center_details.contact}}">
            </label>
            <label>Emergency Contact:
                <input type="tel" name="emergency_contact" placeholder="Emergency Contact"
                       value="{{data.center_details.emergency_contact}}">
            </label>
            <label>Emergency Contact Relationship:
                <input type="text" name="emergency_contact_rel" placeholder="Relation"
                       value="{{data.center_details.emergency_contact_rel}}">
            </label>
            <input type="file" placeholder="img" accept="image/jpeg" name="img">
            <input type="submit" name="submit" value="Submit">
        </form>
    </div>
</div>
<hr>
<h2>View blood requests</h2>
<div id="view-blood-requests">
    <script>
        function display_user(uid) {
            document.getElementById(uid).style.display = "block"
        }
    </script>
    {% for i in data.blood_request_list%}
    <p>{{i}}</p>
    {% if i.allocated%}
    <button disabled>Allocated</button>
    {%else%}
    <button onclick=display_user("{{i.uid}}")>Allocate</button>
    <div id="{{i.uid}}" style="display: none">
        {%if data.donor_list%}
        {%for a in data.donor_list%}
        <div style="border: grey 1px solid">
            <p>Email: {{a.email}}</p>
            <a href="/blood_request/{{data.main_user_id}}/{{a.email}}/{{i.uid}}">
                <button>Allocate</button>
            </a>
        </div>
        {%endfor%}
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
</div>
<hr>
<div id="donation-stats">
    Data about how many people have donated this year
</div>
<!--<script>-->
<!--    window.onload = function (){-->
<!--        var hide = document-->
<!--    }-->
<!--</script>-->
</body>
</html>