<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
<body>
<div class="container">

    <div class="card">
        <h1 style="align-content: center;text-align: center" >Welcome to Blood bank</h1>
        <a class="home" href="/login">Proceed to login</a><p>
        <a class="home" href="/signup">Proceed to Signup</a><p></p>
        <a class="home" href="/stats">Proceed to Stats</a><p></p>
        <a class="home" href="/restapi">Proceed to REST API</a><p></p>
    </div>

</div>



</body>
</html>