<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stats</title>
</head>
<body>
<a href="/">HOME</a>
<h1>General Blood Statistics</h1>
General
One in three Australians will need blood or blood products in their lifetime
One in 30 Australians give blood each year (3%)
One blood donation can save up to three lives
Australia needs more than 31,000 donations every week
Statistics
Donor statistics for 2018-19

523,688 Australians voluntarily gave blood, plasma or platelets to help others
100,099 new blood donors welcomed
32% of Australia's blood donations made by members of Lifeblood Teams
1,427,659 individual blood donations by Australian donors
978,196 blood products delivered to hospitals and healthcare providers to help Australian patients
Collection centres

96 blood donor centres and mobile centres
Checklist
Most people are able to give blood if they:

Feel fit and healthy
Are aged between 18 and 75
Weigh over 50kg
You may be temporarily unable to give blood if you:

Are on certain medications or antibiotics
Have a cold or are feeling unwell in any way
Have certain medical conditions
Changed medications
Recently had surgery
Have had recent dental treatment
Recently travelled
Had a piercing
Have ever had a serious heart condition
You will not be able to give blood if you:

Have had a tattoo in the past four months. But so long as your tattoo was done on licensed or regulated premises in Australia (like a commercial tattoo parlour or a cosmetic clinic) and is healing well, you can donate plasma.
Have visited or lived in the UK for a cumulative total of six months or more between 1980 and 1996
Have engaged in male to male sexual activity or other specified at risk sexual activity in the past 3 months
Have recently been pregnant or given birth
Have ever had a serious blood disorder or disease
Have 'used drugs' by injection or been injected with drugs not prescribed by a doctor or dentist in the past 5 years.
</body>
</html>